<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<!--
    The helper takes no account name and checks the current password before
    changing it, so an active local session needs no administrator, as with passwd.
-->
<policyconfig>
    <vendor>Mainstream OS</vendor>
    <vendor_url>https://mainstreamos.org</vendor_url>
    <icon_name>system-users</icon_name>

    <action id="org.mainstreamos.change-own-password">
        <description>Change your own password</description>
        <description xml:lang="en_US">Change your own password</description>
        <message>Authentication is required to change your password</message>
        <message xml:lang="en_US">Authentication is required to change your password</message>
        <defaults>
            <allow_any>no</allow_any>
            <allow_inactive>no</allow_inactive>
            <allow_active>yes</allow_active>
        </defaults>
        <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/change-own-password</annotate>
    </action>
</policyconfig>
