[Desktop Entry]
Name=Fonts
Exec=sh -c "command -v gnome-font-viewer >/dev/null 2>&1 && exec gnome-font-viewer \\"\\$@\\" || exec flatpak run org.gnome.font-viewer \\"\\$@\\"" gnome-font-viewer %u
Icon=org.gnome.font-viewer
Type=Application
DBusActivatable=true
StartupNotify=true
NoDisplay=true
Categories=GTK;GNOME;Utility;
Keywords=fonts;fontface;
MimeType=application/x-font-ttf;application/x-font-pcf;application/x-font-type1;application/x-font-otf;font/ttf;font/otf;font/woff;font/collection;
